
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    <title>Seas The Day</title>
  </head>
  <body>
    <main class="trip-form">
        
        <div class="trip-form-fields" id="signup">
            <h1 class="trip-form-headline">Sign Up</span></h1>
            <form method="post" action="{% url 'signup' %}">
                {% csrf_token %} {{ form.as_p }}
                <div class=>
                <input type="submit" class="btn" value="signup" />
                <div>
              </form>
        </div>
    </main>
  </body>
</html>