{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    <title>Seas The Day</title>
  </head>
  <body>
    <header>
      <nav>
          <h1 class="nav-header">SeasTheDay</h1>
        <div>
          <ul class="nav-links">
              <li class="nav-bullet"><a class="nav-link" href="{% url 'home' %}"> Home</a></li>
              {% if user.is_authenticated %}
            <li class="nav-bullet"><a class="nav-link" href="{% url 'index' %}"> My Trips</a></li>
            <li class="nav-bullet"><a class="nav-link" href="{% url 'trips_create' %}">Add a Trip</a></li>
            <li class="nav-bullet"><a class="nav-link" href="{% url 'logout' %}"><button class="nav-button">Logout</button></a></li>
            {% else %}
            <li class="nav-bullet"><a href="{% url 'login' %}"><button class="nav-button">Login</button></a></li>
            <li class="nav-bullet"><a href="{% url 'signup' %}"><button class="nav-button" id="sign-up-button">Sign Up</button></a></li>
            {% endif %}
          </ul>
        </div>
      </nav>
    </header>
    <main>{% block content %} {% endblock %}</main>
    <footer>
      <div>
        SeasTheDay | 2022
      </div>
    </footer>
  </body>
</html>