{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    <title>Seas The Day</title>
  </head>
  <body>
    <main class="home">
        <div class="home-details-container">
            <div class="home-details">
                <h1 class="home-headline">SeasTheDay</h1>
                <h2 class="home-subhead">Adventure Awaits</h2>
                <p class="home-copy"> Planning your next vacation? Or day dreaming about the trip of a lifetime? SeasTheDay is here for all your trip planning needs. 
                    Keep all your travel information in one place for planning ease and quick reference while on the road. 
                    Already a member? Just log-in to view your trips. Of if you’re new to SeasTheDay it’s easy to create an account - just click sign-up!
                </p>
                <div class="log-btn">
                <button class="home-log">Login</button>
                </div>

                <div class="sign-btn">
                <button class="home-sign">Sign up</button>
                </div>
            </div>
        </div>
    </main>
  </body>
</html>